services:
  
  uniseapshop.webapi:
    image: phuctran362003/uniseapshopwebapi:latest
    build:
      context: .
      dockerfile: UniSeapShop.API/Dockerfile
    depends_on:
      - none
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=Server=uniseapshop.database.windows.net;Database=UniSeapShopDB;User Id=sqladmin;Password=YourStrong!Passw0rd;TrustServerCertificate=True
      - ConnectionStrings__Redis=redis-17928.c10.us-east-1-2.ec2.redns.redis-cloud.com:17928,user=default,password=qQU5XpmSUbLzI7uTzmGvi5ZXOLrFUVjY,ssl=True,abortConnect=False
      - JWT__SecretKey=UniSeapShop_SECRETKEY_SIEUCAPBAOMAT_VAYMACHUADU16KYTU
      - JWT__Issuer=UniSeapShop_Issuer
      - JWT__Audience=UniSeapShop_Audience
      - RESEND_APITOKEN=re_gQNBXJvY_ANFdgQphKQBxdW5DNf2UG6Zk
      - RESEND_FROM=noreply@fpt-devteam.fun
      - Payment__PayOS__ClientId=c822a81c-dd46-421c-8a43-7551e175130b
      - Payment__PayOS__ApiKey=9ec9866c-f853-4e29-9a8f-773ae1d9891a
      - Payment__PayOS__ChecksumKey=0e6a8e155bfb9fa69ccf7e252f121f0d31852e8c0157caa0a0aa85638b740890
      - PaymentSettings__SuccessUrl=https://uniseap.vercel.app/success-payment
      - PaymentSettings__CancelUrl=https://uniseap.vercel.app/failed-payment
      - PaymentSettings__WebhookUrl=https://uniseapshop.fpt-devteam.fun/api/payments/webhook
      - MINIO_ENDPOINT=103.211.201.141:9000
      - MINIO_HOST=https://minio.fpt-devteam.fun
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - AWS__AccessKey=AKIAZAI4HAZUEAD4U7NX
      - AWS__SecretKey=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
      - AWS__Region=ap-southeast-2
      - AWS__BucketName=scorelens
      - AWS__PrefixUrl=https://scorelens.s3.ap-southeast-2.amazonaws.com/
      - AWS__FolderPrefix=qr
      - AWS__AvatarFolderPrefix=avt

    ports:
      - "5000:5000"

  redis:
    image: redis:6.2
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5


volumes:
  redisdata: